<ion-view title="Explore what's around you" id="page9">
    <ion-content padding="true" class="has-header">    
        <ion-list id="kilimanjaro3-list6">
            <ion-item class="small-item text-center"  ng-click="openSpecificCategory('foodCategory')">
                Food
            </ion-item> 
            <ion-item class="small-item text-center"  ng-click="openSpecificCategory('clothingCategory')">
                Clothing
            </ion-item> 
            <ion-item class="small-item text-center"  ng-click="openSpecificCategory('eventCategory')">
                Things Happening
            </ion-item> 
            <ion-item class="small-item text-center"  ng-click="openSpecificCategory('generalCategory')">
                General
            </ion-item> 
        </ion-list>
    </ion-content>
    <div ng-include='"templates/geolocation/location_footer.html"'></div>
</ion-view>