<ion-view title="Categories" id="page9">
  <ion-content padding="true" class="has-header">    
    <ion-list id="kilimanjaro3-list6">
      <ion-item class="small-item text-center"  ng-click="openSpecificCategory('Food Shops')">
          Food Shops
      </ion-item> 
        <ion-item class="small-item text-center"  ng-click="openSpecificCategory('Clothing Shops')">
          Clothing Shops
      </ion-item> 
        <ion-item class="small-item text-center"  ng-click="openSpecificCategory(category.name)">
          Events Nearby
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>