<ion-view title="FORGOT PASSWORD" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list" ng-submit="sendEmail(user.email)">
      <ion-list id="login-list1">
          <p class='text-center'>For safety reasons, please enter your sign up email, and we'll email you a link to create a new password. Thank you </p>
        <label class="item item-input" id="login-input1">
          <input type="text" placeholder="Email" ng-model="user.email">
        </label>     
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button8" class="button button-calm  button-block">DONE</button>      
    </form>
  </ion-content>
</ion-view>