<ion-view title="Kilimanjaro" id="page5">
  <ion-content padding="true" class="has-header">
      <div class="landing-description text-center adventProsemiBold">
          <p>Kilimanjaro is the highest mountain in Africa, right?</p>
          <p>Okay, if you were to stand at the very peak of the mountain you should see a lot of Africa, right?</p>
          <p>This is the purpose of this app: to help you see a lot of African things---food, shops, events, and more---around you, right here in the United States.</p>
          <p>Welcome to Kilimanjaro. Sign in, or check out the Africa around you by registering.</p>
      </div>
    <div  style="text-align:center;" class="show-list-numbers-and-dots">
        <img src="img/africa.jpg" height="72" ng-click='promoEasterEgg()'>
    </div>
    <div id="kilimanjaro2-button-bar1" class="button-bar" ng-if="!currentUser">
      <a ui-sref="tabsController.login" id="kilimanjaro2-button5" class="button button-balanced  button-block">Sign in </a>
      <a ui-sref="tabsController.signup" id="kilimanjaro2-button7" class="button button-stable  button-block">Sign up</a>
    </div> 
      <div class="mail-merchant-link text-center adventProsemiBold" ng-if="!currentUser">
          <a href="mailto:acouplethings70@gmail.com">
              Want to list your shop, event, or service?
          </a>
      </div>
      <div id="kilimanjaro2-button-bar1" class="button-bar" ng-if="currentUser">
      <a ui-sref="tabsController.categories"  class="button button-balanced  button-block">Explore what's around you </a>      
    </div> 
  </ion-content>
</ion-view>