<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list" ng-submit="signUp(user)">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" ng-model="user.name">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
      </ion-list>
      <button id="signup-button10" class="button button-stable  button-block">Sign up</button>
      <div class='t-n-c-para text-center adventProsemiBold'>
          By signing up, you agree to abide by the 
          <span pdf-href="https://firebasestorage.googleapis.com/v0/b/kilimanjaro-80035.appspot.com/o/Kilimanjaro%20App%20Terms%20and%20Conditions.pdf?alt=media&token=a4575efc-3032-432f-b072-49c9d8ea7e67">terms and conditions</span> of Kilimanjaro, the company. Also you acknowledge you have read our 
          <span pdf-href="https://firebasestorage.googleapis.com/v0/b/kilimanjaro-80035.appspot.com/o/Kilimanjaro%20App%20Privacy%20Policy.pdf?alt=media&token=b7b922f1-2dd5-476d-9c95-88b74ffe0d61" >privacy policy</span> regarding the use of your personal information
          <br/>
           <div class='thank-you'>
          Thank You
      </div>
      </div>     
    </form>
  </ion-content>
</ion-view>