<ion-view> 
     <ion-nav-buttons side="right">
          <button class="button back-button buttons  button-clear header-item" native-share subject="{{event.title}}" message="Sharing {{event.title}} from Kilimanjaro" files="{{event.banner}}">
             <i class="ion-android-share-alt nav-icon-for-share"></i>             
         </button>
    </ion-nav-buttons>    
    <ion-nav-title>{{event.title}}</ion-nav-title>
    <ion-content class="food-show event">          
        <div class="image-area" style="background-image: url({{event.banner}})">

        </div>
        <div class="blocks">
            <div class="block">
                Title: {{event.title}}
            </div>
            <div class="block">
                Description: {{event.description}}
            </div>
            <div class="block">
                Location: {{event.address}}
            </div>
            <div class="block">
                Time: {{event.startTime|date : 'M/dd/yy h:mm a EEEE'}} - {{event.endTime|date : 'M/dd/yy h:mm a EEEE'}}
            </div>
            <div class="block contact">
                Email: <a href="mailto:{{event.email}}">{{event.email}}</a>
            </div>
            <div class="block contact">
                Phone: {{event.contactName}} <a href="tel:{{event.phoneNumber}}">{{event.phoneNumber}}</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="button button-calm  button-block" ng-click="going();">Going?</a>             
    </ion-content>
</ion-view>