<ion-view title="Delivery Address">
    <ion-content padding="true" class="has-header">             
        <form ng-submit="saveAddress(addressForms.$valid)" novalidate name="addressForms">
            <div>
                <div class="row flush-padding">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" placeholder="Name" ng-model="address.name" required>
                        </label>
                    </div>              
                </div>

                <div class="row flush-padding">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Address</span>
                            <textarea  placeholder="Address" ng-model="address.address" required></textarea>
                        </label>
                    </div>              
                </div> 

                <div class="row flush-padding">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Apartment Number</span>
                            <input type="text" placeholder="Apartment Number" ng-model="address.apartmentNumber">
                        </label>
                    </div>                       
                </div>   
                <div class="row flush-padding">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Telephone Number</span>
                            <input type="text" placeholder="In case there is an issue contacting you." ng-model="address.contactNumber" required>
                        </label>
                    </div>                       
                </div>  

                <div class="row flush-padding">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">City</span>
                            <input type="text" placeholder="City" ng-model="address.city" required>
                        </label>
                    </div>   
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">State</span>
                            <input type="text" placeholder="State" ng-model="address.state" required>
                        </label>
                    </div> 
                </div>

                <div class="row flush-padding">
                    <div class="col col-33">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Zip</span>
                            <input type="text" placeholder="Zip" ng-model="address.zip" required>
                        </label>
                    </div>   
                    <div class="col col-67">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Country</span>
                            <input type="text" placeholder="State" ng-model="address.country" required>
                        </label>
                    </div> 
                </div>


            </div> 
            <div class="row flush-padding">
                <div class="col">
                    <button type="submit" class="button button-balanced button-block">Next</button>
                </div>
            </div>            
        </form>
    </ion-content>
</ion-view>