<ion-view title="Cart">
    <!--     <ion-nav-buttons side="right">
             <i class='ion-ios-cart'></i>
        </ion-nav-buttons>-->
    <ion-content padding="true" class="has-header">    
        <div class='cart-index-page'>
            <div ng-repeat='shop in cart.shops'>
                <div ng-repeat='item in shop.cartItems' class='item adventProsemiBold item-text-wrap'>                    
                    <div class='itemName '>
                        {{item.name}}
                    </div>
                    <div class='shopName'>
                        {{shop.name}}
                    </div>
                    <div class='itemImage' ng-if='item.imgUrl'>
                        <img ng-src='{{item.imgUrl}}'>
                    </div>
                    <div class='row'>
                        <div class='quantity col-50 qt-txt'>
                            Quantity: {{item.quantity}}
                        </div>
                        <div class='quantity col-50'>

                            <div class="button-bar">
                                <a class="button button-calm" ng-click='handleQuantity(item, shop, true)'>
                                    <i class='ion-plus'></i>
                                </a>
                                <a class="button button-assertive" ng-click='handleQuantity(item, shop, false)'>
                                    <i class='ion-minus'></i>
                                </a>                                
                            </div>                          
                        </div>                        
                    </div>
                    <div class='adventProMedium text-right price-bx'>
                        Price: {{item.price}} x {{item.quantity}}  =  <b>${{(item.price * item.quantity)| number:2}}</b>                        
                    </div>
                </div>
            </div>
            <div class='total row adventProsemiBold' ng-if='cart.badge'>
                <div class='col-50'>
                    TOTAL
                </div>
                <div class='col-50 text-right'>
                    ${{getCartTotal() | number:2}}
                </div>
            </div>

            <button ng-show='cart.badge'  class="button button-calm button-block" ui-sref="tabsController.billingAddress">CHECKOUT</button>
            <div class='no-items' ng-if='!cart.badge'>
                <div class="card">
                    <div class="item item-text-wrap text-center">
                        Your cart is empty
                    </div>
                </div>
            </div>
        </div>       
    </ion-content>
</ion-view>